@import '~resources/style/common.less';
.query {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    .title {
        height: 32px;
        background-color: #ccc;
        line-height: 32px;
    }
    .textContent {
        text-align: left;
        padding: 10px;
    }
    .result {
        text-align: left;
    }
    .btnGroup {
        text-align: right;
        >button {
            margin-right: 10px;
        }
    }
    .text {
        padding-left: 10px;
    }
}