.main {
    .formMain {
        padding: 20px;
    }
    .title {
        height: 32px;
        line-height: 32px;
        background-color: #ccc;
        text-align: left;
        padding: 0 10px;
        .btn {
            margin-top: 4px;
        }
    }
    .checkMain,
    .columnMain{
        display: flex;
        flex-direction: column;
        float: right;
        label {
            height: 40px;
            margin-bottom: 24px;
            display: block;
            line-height: 40px;
        }
    }
    .columnMain {
        float: none;
        padding-left: 38px;
    }
    
    .arrMain {
        height: 40px;
        margin-bottom: 24px;
        display: block;
        line-height: 40px;
    }
    .screenTitle {
    }
    .transfer,
    .transferFixed{
        display: flex;
        justify-content: center;
        padding-left: 20px;
    }
    .transferFixed {
        height: 330px;
        padding-top: 50px;
    }
    .fromItem {
        display: flex;
        width: 100%;
        .labels {
            text-align: right;
        }
        .value {
            padding-left: 20px;
            flex-grow: 1;
        }
    }
    
    .columTitle {
        padding-left: 3px;
        .labels {
            text-align: center;
        }
    }
    .timeType {
        display: flex;
        flex-direction: column;
        text-align: right;
        label {
            top: 10px;
            padding-bottom: 37px;
        }
    }
    .timeStyle {
        padding-left: 20px;
    }
    .timeInput {
        display: flex;
        line-height: 32px;
        padding-left: 20px;
        input {
            width: 60px;
            margin: 0 5px;
        }
    }

    .timecheck {
        >div {
            height: 40px;
            margin-bottom: 10px;
            width: 100%;
            display: flex;
            line-height: 40px;
            border: 1px solid #ccc;
            padding: 0 10px;
            align-items: center;
            > span {
                flex-grow: 1;
            }
        }
    }
    
    
}

@media (min-width: 1500px) {
        .main {
            .columnMain {
                padding-left: 80px;
            }
        }
}