.over {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
.textDiv {
    white-space: pre-wrap;
}}
.over1 {
    white-space: nowrap;
}
.break {
    word-break: break-all;
word-wrap: break-word;
}